
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="buttons">
      <button nz-button style="margin-right: 5px;" (click)="exportToPdf()" nzType="danger">
        <span nz-icon nzType="file-pdf" nzTheme="outline"></span>
        Export to PDF
      </button>
      <button nz-button (click)="encodeCasualty()" nzType="primary">
        <span nz-icon nzType="file-add" nzTheme="outline"></span>
        Encode Casualty
      </button>
    </div>
    
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table #nzTable [nzData]="listOfMonthlyCasualtyRecord" [nzScroll]="{ y: '380px', x: '1100px'  }">
      <thead>
        <tr>
          <th nzWidth="150px" nzLeft="0px">Specified Branch
            <i nz-th-extra class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
              [nzDropdownMenu]="specifiedBranch" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click"
              nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
          </th>
          <th nzWidth="150px" nzLeft="150px">Date</th>
          <th nzWidth="200px" nzLeft="150px">Name of Deceased
            <i nz-th-extra class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
              [nzDropdownMenu]="name" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click"
              nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
          </th>
          <th nzWidth="250px">Address</th>
          <th nzWidth="150px">Membership</th>
          <th nzWidth="150px">Type of Plan</th>
          <th nzWidth="150px">Type of Plan/Price</th>
          <th nzWidth="150px">Monthly Contribution</th>
          <th nzWidth="150px">Contribution</th>
          <th nzWidth="150px">SR/Client Discount</th>
          <th nzWidth="150px">Government Assistance</th>
          <th nzWidth="150px">Cash Deposit</th>
          <th nzWidth="150px">Payment Status</th>
          <th nzWidth="200px" nzRight="0px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data">
          <td nzLeft="0px">{{data.specifiedBranch}}</td>
          <td nzLeft="150px">{{data.date}}</td>
          <td nzLeft="200px">{{data.nameOfDeceased}}</td>
          <td nzLeft="250px">{{data.address}}</td>
          <td>{{data.membership}}</td>
          <td>{{data.typeOfPlan}}</td>
          <td>{{data.planPrice}}</td>
          <td>{{data.monthlyContribution}}</td>
          <td>{{data.contribution}}</td>
          <td>{{data.discount}}</td>
          <td>{{data.governmentAssistance}}</td>
          <td>{{data.cashDeposit}}</td>
          <td>{{data.paymentStatus}}</td>
          <td nzRight="0px">
            <a (click)="viewDetails(data)">View</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Edit</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>


<nz-dropdown-menu #specifiedBranch="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search Branch" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search('specifiedBranch')"
        class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset('specifiedBranch')">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #name="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search Name of Deceased" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search('nameOfDeceased')"
        class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset('nameOfDeceased')">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-modal [(nzVisible)]="showModal" nzTitle="Encode Casualty" (nzOnCancel)="modalCancel()">
  <form nz-form [formGroup]="formGroup">
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="specifiedBranch">Specified Branch</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Specified Branch!">
        <input nz-input id="specifiedBranch" formControlName="specifiedBranch" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="date">Date</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Date!">
        <input nz-input id="date" formControlName="date" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="nameOfDeceased">Name of Deceased</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Receipt Name of Deceased!">
        <input nz-input id="nameOfDeceased" formControlName="nameOfDeceased"/>
      </nz-form-control>
    </nz-form-item>
  </form>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="modalCancel()">Close</button>
    <button nz-button nzType="primary" (click)="submitForm()" [nzLoading]="isConfirmLoading">Submit</button>
  </div>
</nz-modal>