<nz-layout class="app-layout">

  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">

    <div class="sidebar-logo">
      <a routerLink="/dashboard">
        <img src="assets/images/icon.png" alt="logo">
        <h1>FATIMA FMS</h1>
      </a>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" *ngFor="let menu of sideMenu">

      <li *ngIf="menu.subMenu.length <= 0; else firstLevelSubMenu" nz-menu-item nzMatchRouter>
        <i nz-icon nzType={{menu.icon}}></i>
        <span>{{menu.name}}</span>
        <a routerLink={{menu.path}}></a>
      </li>

      <ng-template #firstLevelSubMenu>
        <li nz-submenu nzClose nzTitle={{menu.name}} nzIcon={{menu.icon}}>
          <ul *ngFor="let firstSubMenu of menu.subMenu">

            <li *ngIf="firstSubMenu.subMenu.length <= 0; else secondLevelSubMenu" nz-menu-item nzMatchRouter>
              <a routerLink={{firstSubMenu.path}}>{{firstSubMenu.name}}</a>
            </li>

            <ng-template #secondLevelSubMenu>
              <li nz-submenu nzTitle={{firstSubMenu.name}}>
                <ul>
                  <li *ngFor="let secondSubMenu of firstSubMenu.subMenu" nz-menu-item nzMatchRouter>
                    <a routerLink={{secondSubMenu.path}}>{{secondSubMenu.name}}</a>
                  </li>
                </ul>
              </li>
            </ng-template>

          </ul>
        </li>
      </ng-template>

    </ul>
  </nz-sider>

  <nz-layout>

    <nz-header>
      <div class="app-header">

        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'">
          </i>
        </span>

        <i class="user" nz-icon nzType="user" nz-dropdown [nzDropdownMenu]="menu">
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="logout()">
                <i nz-icon nzType="logout"></i>
                Logout
              </li>
            </ul>
          </nz-dropdown-menu>
        </i>

      </div>
    </nz-header>

    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item></nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <nz-footer>FATIMA FILE MANAGEMENT SYSTEM ©{{currentYear}} | Powered by DevWorks Solutions</nz-footer>
  </nz-layout>
</nz-layout>
